<div class="info-container" id="container-<%= object.id %>">
        <div class="content-info" id="personal">
            <div>
                <% unless edit_session_sh? %>
                    <%= object.content %>
                <% else %>
                    <%= form_for(object, remote: true) do |f| %>
                        <%= f.text_area :content %>
                        <%= f.submit "Save changes", class: "btn btn-primary" %>
                        
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="info-pic">
            <%= image_tag object.image.url(:common) %>
        </div>
</div>
<% if edit_session_sh? %>
    <div class="content-delete" id="content-delete-<%= object.id %>">
        <%= link_to "Delete This Content", object, method: "delete", class: "btn btn-danger", data: { confirm: 
                  "Do you really want to delete this content?"}, remote: true %>
    </div>
<% end %>