<h1>About Us</h1>

<div class="info-container">
        <div class="content-info">
            <div>
                <% unless edit_session_sh? %>
                    <%= @about.content %>
                <% else %>
                    <%= form_for(@about, remote: true) do |f| %>
                        <%= f.text_area :content %>
                        <%= f.submit "Save changes", class: "btn btn-primary" %>
                    <% end %>
                <% end %>
            </div>
        </div>
</div>

<div class="our-employees">
    <h2>Our Doctors</h2>
    <div class="existing">
        <% @contents.each do |cont| %>
            <% if cont.object=="doctor" %>
                <%= render partial: 'static_pages/container', locals: {object: cont}%>
            <% end %>
        <% end %>
    </div>
    <% if edit_session_sh? %>
        <h4>Add a new Doctor</h4>
        <div class="new">
            <%= form_for(@content, html: {multipart: true}) do |f| %>
                <%= f.hidden_field :object, :value => "doctor" %>
                
                <%= f.label :image %>
                <%= f.file_field :image, class: "form-control" %>
                
                <%= f.label :content %>
                <%= f.text_area :content %>
                <%= f.submit "Add Doctor", class: "btn btn-primary" %>
            <% end %>
        </div>
    <% end %>
</div>

<div class="our-employees">
    <h2>Our Assistants</h2>
    <div class="existing">
        <% @contents.each do |cont| %>
            <% if cont.object=="administrator" %>
                <%= render partial: 'static_pages/container', locals: {object: cont}%>
            <% end %>
        <% end %>
    </div>
    <% if edit_session_sh? %>
        <h4>Add a new Assistant</h4>
        <div class="new">
            <%= form_for(@content, html: {multipart: true}) do |f| %>
                <%= f.hidden_field :object, :value => "administrator" %>
                
                <%= f.label :image %>
                <%= f.file_field :image, class: "form-control" %>
                
                <%= f.label :content %>
                <%= f.text_area :content %>
                <%= f.submit "Add Assistant", class: "btn btn-primary" %>
            <% end %>
        </div>
    <% end %>
</div>