<h1>Our contact</h1>

<div id="contact-container">
    <div id="contact-info">
        <h2>Dr. Velez & Co. random dental office</h2>
        <div id="details">
            <p>some random address</p>
            <p>Guayaquil 090310</p>
            <p>Ecuador</p>
        </div>
        <p><b>Phone: </b>1234/567890</p>
        <p><b>Email: </b>random@mail.com</p>
        <p><b>Working hours:</b></p>
        <div id="details">
            <p>Mo-Fr: 8:00-20:00</p>
            <p>Sa:    8:00-18:00</p>
        </div>
    </div>
    <div id="map">
        <div id="item"><%= image_tag google_map_sph("Ismael Pérez Pazmiño, Guayaquil 090310, Ecuador") %></div>
    </div>
</div>