<h1>Dr. Test & Co. random dental office</h1>

<div class="info-container">
        <div class="content-info" id="home-info">
            <div>
                <% unless edit_session_sh? %>
                    <%= @content.content %>
                <% else %>
                    <%= form_for(@content, remote: true) do |f| %>
                        <%= f.text_area :content %>
                        <%= f.submit "Save changes", class: "btn btn-primary" %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="info-pic">
            <%= image_tag("doctor-office2.jpg")%>
        </div>
</div>