<li id="message-<%= message.id %>">
    
    <% if message.creator_type="Administrator" %>
        <% user=Administrator.find(message.creator_id) %>
    <% else %>
        <% user=PAtient.find(message.creator_id) %>
    <% end %>
    
    <% if message.seen %>
        <span><%= link_to "#{message.subject}" + " | by: " + user.name, message_path(message) %></span>
    <% else %>
        <b><%= link_to "#{message.subject}" + " | by: " + user.name, message_path(message) %></b>
    <% end %>
</li>
<br><%= message.created_at.to_date %>