<span class="processing_button">
    <div>
        <% if @message.processed %>
            <%= link_to "Set to: In process", message_path(@message, :processed => @message.processed), method: :patch, remote: true  %>
        <% else %>
            <%= link_to "Set to: Completed", message_path(@message, :processed => @message.processed), method: :patch, remote: true %>
        <% end %>
    </div>
</span>