<span class="seen_button">
    <div>
        <% if @message.seen %>
            <%= link_to "Set to: Unseen", message_path(@message, :seen => @message.seen), method: :patch, remote: true  %>
        <% else %>
            <%= link_to "Set to: Seen", message_path(@message, :seen => @message.seen), method: :patch, remote: true %>
        <% end %>
    </div>
</span>