<h1>All Messages</h1>

<div class="items">
    <div class="upcomming">
        <h4>Your Messages</h4>
        <div class="items-list">    
            <ul class="messages">
                <%= render @messages %>
            </ul>
        </div>
    </div>
    
    <div class="history-dropdown">
        <h4><%= link_to "Sent Messages", "#", id: "history-link" %><b class="caret"></b></h4>
        <div class="items-list", id="history">    
            <ul class="messages">
                <% @sent_messages.each do |msg| %>
                    <%= render partial: 'messages/message', locals: {message: msg} %>
                <% end %>
            </ul>
        </div>
    </div>
</div>