<% provide(:title, 'new message') %>
<h1>New message</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@message) do |f| %>
    
        <%= render partial: 'shared/error_messages', locals: {object: @message} %>
        
        <%= f.hidden_field :creator_id, :value => current_user_sh.id %>
        
        <%= f.hidden_field :creator_type, :value => current_user_sh.class.to_s %>
        
        <% if(params[:recipient_id] and params[:recipient_type] and current_user_admin_sh?) %>
            <%= f.hidden_field :recipient_id, :value => params[:recipient_id] %>
        
            <%= f.hidden_field :recipient_type, :value => params[:recipient_type] %>
        <% elsif current_user_admin_sh? %>
            <%= f.label :recipient_id %>
            <%= f.text_field :recipient_id, class: "form-control" %>
            
            <%= f.select :recipient_type, options_for_select(["Patient", "Administrator"]) %>
        <% end %>
        
        <%= f.label :subject %>
        <%= f.text_field :subject, class: "form-control" %>
        
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control", id: "content-input" %>

        <%= f.submit "Send", class: "btn btn-primary", id: "fix" %>
    <% end %>
  </div>
</div>
