<div class="message">
    <p id="subject"><%= @message.subject %></p>

    <div class="content" id="message">
        <%= @message.content %>
    </div>
    
    <div class="options">
        <div>
            <%= render "messages/seen_buttons" %>
        </div>
        
        <% if current_user_admin_sh? %>
            <div>
                <%= render "messages/processing_buttons" %>
            </div>
        <% end %>
        
        <%= link_to "Anwser", new_message_path(:recipient_id => @message.creator_id, :recipient_type => @message.creator_type) %><br>
    </div>
</div>