$("#edit_status").empty();
$("#edit_status").append("<%= j render(:partial => 'shared/edit_mode') %>")
$("#flash-container").empty();
$("#flash-container").append("<%= j render(:partial => 'layouts/flash') %>")