$("#container-<%= j @id_to_delete %>").remove();
$("#content-delete-<%= j @id_to_delete %>").remove();
$("#flash-container").empty();
$("#flash-container").append("<%= j render(:partial => 'layouts/flash') %>")