<!-- _ch: calendar_helper  -->

<%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
<%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>

<div class="row">
  <div class="col-md-12">
    <div id="current-doctor-display">
    <h3>Available appointments for: Dr. <%= current_doctor_ch.name %></h3>
  </div>
    <div class="well controls">
      <% unless (@date - 1.month).past? %>
        <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-backward"></i>
        <% end %>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default" do %>
        <i class="glyphicon glyphicon-forward"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <% month=@date.month %>
      <% if(date.month==month) %>
        <% if date.past? %>
          <%= date.day %>
        <% else %>
          <% if current_doctor_ch.available?(date)%>
            <%= link_to "#{date.day}", new_appointment_path(:ap_date => date, :doctor_id => current_doctor_ch.id) %>
          <% else %>
            <%= date.day %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div id="current-doctor-selection">
      Display available appointments for:
      <form action="/calendar">
        <select name="doctor">
          <% Doctor.order(:name).each do |doc| %>
            <option value= <%= doc.id %> > Dr. <%= doc.name %> </option>
          <% end %>
        </select>
        <input type="submit">
      </form>
    </div>
  </div>
</div>