<% if edit_session_sh? %>
    <% unless (current_page?(root_path) or current_page?(about_path)) %>
        <%= link_to "Editor mode: on", edit_session_path, method: :patch, remote: true %>
    <% else %>
        <%= link_to "Editor mode: on", edit_session_path, method: :patch %>
    <% end %>
<% else %>
    <% unless (current_page?(root_path) or current_page?(about_path)) %>
        <%= link_to "Editor mode: off", edit_session_path, method: :patch, remote: true %>
    <% else %>
        <%= link_to "Editor mode: off", edit_session_path, method: :patch %>
    <% end %>
<% end %>