<li id="patient-<%= patient.id %>">
    <%= link_to patient.name, patient %> 
    <br>
    <%= link_to "delete", patient, method: :delete, data: { confirm: "You sure?" }, remote: true %>
    <br><br>
</li>