<% provide(:title, 'Patient edit') %>
<h1>Edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@patient) do |f| %>
    
      <%= render partial: 'shared/error_messages', locals: {object: @patient} %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label :adress %>
      <%= f.text_field :adress, class: "form-control" %>
      
      <%= f.label :phone %>
      <%= f.phone_field :phone, class: "form-control" %>
      
      <%= f.label :date_birth %>
      <%= f.date_field :date_birth, class: "form-control", placeholder: "YYYY-MM-DD" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "Save changes", class: "btn btn-primary", id: "fix" %>
    <% end %>
    
    <% unless current_user_admin_sh? %>
      <%= link_to "Delete this Account", 
                  patient_path(params[:id]), method: :delete, class: "btn btn-danger", data: { confirm: 
                  "
                  You are about to delete this Account. 
                  All information lost this way can not be recovered, not even by an administrator. 
                  Continue?"
                  }, id: "delete-button" %>
    <% end %>
  </div>
</div>