<% provide(:title, 'All users') %>
<h1>All users</h1>

<div class="search_form">
  <%= form_tag(patients_path, :method => "get", id: "search-form") do %>
    <div class="search_field">
      <div class="search_element", id="name_label"><%= label_tag :name, "Patient's name"%></div>
      <div class="search_element", id="value_field"><%= text_field_tag :name, params[:name], placeholder: "Patient name" %></div>
    </div>
    <div class="search_field">
      <div class="search_element", id="name_label"><%= label_tag :email, "Email"%></div>
      <div class="search_element", id="value_field"><%= text_field_tag :email, params[:email], placeholder: "email" %></div>
    </div>
    <div class="search_field">
      <div class="search_element"><%= label_tag :blocked, "Search for blocked patients?"%></div>
      <div class="search_element"><%= check_box_tag :blocked, params[:blocked] %></div>
    </div>
    <div class="search_field">
      <div class="search_element"><%= label_tag :combine, "Combine results?"%></div>
      <div class="search_element"><%= check_box_tag :combine, params[:combine] %></div>
    </div>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<%= will_paginate %>

  <% if @patients.present? %>
    <ul class="users">
      <%= render @patients %>
    </ul>
  <% else %>
    <p>There are no Patients containing the term(s).</p>
  <% end %>

<%= will_paginate %>
