<% if @patient.blocked? %>
    <%= render "shared/blocked_warning" %>
<% end %>

<div id="object-info">
    <h3><%= @patient.name %></h3>
    <div class="info-field">
        <div class="tile"><b>Birthday: </b></div>
        <div class="tile"><%= @patient.date_birth %></div>
    </div>
    <div class="info-field">
        <div class="tile"><b>Address: </b></div>
        <div class="tile"><%= @patient.adress %></div>
    </div>
    <div class="info-field">
        <div class="tile"><b>Email: </b></div>
        <div class="tile"><%= @patient.email %></div>
    </div>
    <div class="info-field">
        <div class="tile"><b>Phone: </b></div>
        <div class="tile"><%= @patient.phone %></div>
    </div>
    
    <% if current_user_admin_sh?%>
        <section class="settings-dropdown">
            <h4><%= link_to "Settings", "#", id: "settings-link" %><b class="caret"></b></h4>
            <div class="settings">
                <%= link_to "edit", edit_patient_path(@patient.id)%>
                <br>
                <%= link_to "block", patient_path(@patient.id, :user_to_block => @patient.id), method: :patch %>
                <br>
                <b><%= link_to "Delete Patient", "#", id: "delete-link" %></b><b class="caret"></b>
                <div id="delete"><%= link_to "delete", @patient, method: :delete, data: { confirm: 
                    "You are about to delete this Patient. All information lost this way can not be recovered. Continue?"
                    } %></div>
            </div>
        </section>
    <% end %>
</div>
  
<div class="items">
    <div class="upcomming">
        <h4>Upcomming Appointments</h4>
        <div class="items-list">    
            <ul class="appointments">
                <% @appointments.each do |appointment| %>
                    <%= render appointment unless appointment.past? %>
                <% end %>
            </ul>
        </div>
    </div>
    
    <div class="history-dropdown">
        <h4><%= link_to "Appointment history", "#", id: "history-link" %><b class="caret"></b></h4>
        <div class="items-list", id="history">    
            <ul class="appointments">
                <% @appointments.each do |appointment| %>
                    <%= render appointment if appointment.past? %>
                <% end %>
            </ul>
        </div>
    </div>
</div>