<li id="administrator-<%= administrator.id %>">
    <%= link_to administrator.name, administrator %> 
    <br>
    <% unless administrator.supervisor %>
        <%= link_to "delete", administrator, method: :delete, 
            data: { confirm: 
            "You are about to delete this Administrator. All information lost this way can not be recovered. Continue?" }, 
            remote: true %>
    <% else %>
        Supervisor
    <% end %>
    <br><br>
</li>