<% provide(:title, 'Administrator edit') %>
<h1>Edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@administrator) do |f| %>
    
      <%= render partial: 'shared/error_messages', locals: {object: @administrator} %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label :adress %>
      <%= f.text_field :adress, class: "form-control" %>
      
      <%= f.label :phone %>
      <%= f.phone_field :phone, class: "form-control" %>
      
      <%= f.label :date_birth %>
      <%= f.date_field :date_birth, class: "form-control", placeholder: "YYYY-MM-DD" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit "Save changes", class: "btn btn-primary", id: "fix" %>
    <% end %>
  </div>
</div>