<!--_sh session_helper-->

<h1>Administrators</h1>

<% @administrators.each do |admin| %>
    <% unless admin==current_user_sh %>
        <ul class="users">
            <%= render admin %>
        </ul>
    <% end %>
<% end %>