<% if @administrator.blocked? %>
    <%= render "shared/blocked_warning" %>
<% end %>

<div id="object-info">
    <h3><%= @administrator.name %></h3>
    <div class="info-field">
        <div class="tile"><b>Birthday: </b></div>
        <div class="tile"><%= @administrator.date_birth %></div>
    </div>
    <div class="info-field">
        <div class="tile"><b>Address: </b></div>
        <div class="tile"><%= @administrator.adress %></div>
    </div>
    <div class="info-field">
        <div class="tile"><b>Email: </b></div>
        <div class="tile"><%= @administrator.email %></div>
    </div>
    <div class="info-field">
        <div class="tile"><b>Phone: </b></div>
        <div class="tile"><%= @administrator.phone %></div>
    </div>
    
    <% if current_user_sh.supervisor==true and @administrator.supervisor!=true %>
        <section class="settings-dropdown">
            <h4><%= link_to "Settings", "#", id: "settings-link" %><b class="caret"></b></h4>
            <div class="settings">
                <%= link_to "edit", edit_administrator_path(@administrator.id)%>
                <br>
                <%= link_to "block", administrator_path(@administrator.id, :user_to_block => @administrator.id), method: :patch %>
                <br>
                <b><%= link_to "Delete Administrator", "#", id: "delete-link" %></b><b class="caret"></b>
                <div id="delete"><%= link_to "delete", @administrator, method: :delete, data: { confirm: 
                    "You are about to delete this Administrator. All information lost this way can not be recovered. Continue?"
                    } %></div>
            </div>
        </section>
    <% end %>
</div>

<div class="items">
    <div class="upcomming">
        <h4>New Messages</h4>
        <div class="items-list">    
            <ul class="messages">
                <% @messages.each do |msg| %>
                    <% unless msg.seen %>
                    
                        <% if msg.creator_type="Administrator" %>
                            <% user=Administrator.find(msg.creator_id) %>
                        <% else %>
                            <% user=PAtient.find(msg.creator_id) %>
                        <% end %>
                    
                        <li id="message-"+<%= msg.id %>><%= link_to msg.subject + " | by: " + user.name, msg %></li>
                        <br><%= msg.created_at.to_date %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
    
    <div class="history-dropdown">
        <h4><%= link_to "Seen", "#", id: "history-link" %><b class="caret"></b></h4>
        <div class="items-list", id="history">    
            <ul class="messages">
                <% @messages.each do |msg| %>
                    <% if msg.seen %>
                    
                        <% if msg.creator_type="Administrator" %>
                            <% user=Administrator.find(msg.creator_id) %>
                        <% else %>
                            <% user=PAtient.find(msg.creator_id) %>
                        <% end %>
                    
                        <li id="message-"+<%= msg.id %>><%= link_to msg.subject + " | by: " + user.name, msg %></li>
                        <br><%= msg.created_at.to_date %>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
