div.well {
    text-align: center;
}

#current-doctor-selection {
    max-width: 300px;
}

#past {
    background-color: gray;
}

#today {
    background-color: yellow;
}

#unavailable {
    background-color: red;
}
