@import "bootstrap-sprockets";
@import "bootstrap";

/* helper to find styling troublemakers */

// div, span, p{
//     border: 1px solid red;
// }

/* universal */

html {
    height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(background.jpg); 
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  height: 30px;
  padding-top: 5px;
  width: 100%;
  border-top: 1px solid #eaeaea;
  position: absolute;
  bottom: 10px;
  small {
    float: left;
    padding-left: 3%;
  }
  ul {
    float: right;
    list-style: none;
    padding-right: 2%;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#fix {
    margin-top: 15px;
}

#delete-button {
  margin-top: 10%;
  width: 100%;
}

.row {
  width: 100%;
  padding-left: 3%;
}

input {
  height: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
