/* Patient/Administrator show */

#object-info {
    margin-left: 6%;
    .info-field {
        font-size: 18px;
        padding-left: 1%;
        .tile {
            display: inline-block;
            min-width: 7%;
        }
    }
    .settings-dropdown {
        width: 20%;
        .settings {
            border-top: 2px solid gray;
            border-bottom: 2px solid gray;
            display: none;
        }
        #delete {
            display: none;
        }
    }
}