/*show patient; administrator*/

.items {
    margin-top: 3%;
    margin-left: 5%;
    div {
        width: 50%;
        float: left;
        .items-list {
            margin-top: 2%;
            margin-bottom: 2%;
            background-color: white;
            border: 2px solid gray;
            border-radius: 15px;
            width: 80%;
            max-height: 350px;
            overflow-y: auto;
            direction: rtl;
            .appointments {
                li {
                    margin-top: 15px;
                    margin-left: 25px;
                    direction: ltr;
                    text-align: left;
                    border: 1px solid gray;
                    border-right: none;
                }
            }
            .messages {
                li {
                    margin-top: 15px;
                    margin-left: 25px;
                    direction: ltr;
                    text-align: left;
                    font-size: 18px;
                    span {
                        a {
                            color: black;
                        }
                    }
                    b {
                        a {
                            color: red;
                        }
                    }
                }
            }
        }
        #history {
            display: none;
        }
        .history-dropdown {
            direction: rtl;
        }
    }
}