/* show */

div.message {
    display: block;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    div.content {
        padding: 8px;
        width: 80%;
        height: 300px;
        border-style: solid;
        border-color: gray;
        border-width: 2px 1px 2px 2px;
        float: left;
        background: white;
        overflow: auto;
    }
    div.options {
        padding: 8px;
        width: 20%;
        height: 300px;
        border-style: solid;
        border-color: gray;
        border-width: 2px 2px 2px 1px;
        float: left;
        background: white;
    }
    #subject {
        font-size: 20px;
        padding-left: 2%;
    }
}

/* new */

#content-input {
    height: 300px;
    overflow: auto;
}
