.search_form {
    padding-left: 2%;
    .search_field {
        .search_element {
            display: inline-block;
        }
        #name_label {
            width: 150px;
        }
        #date_label {
            width: 50px;
            margin-left: 2%;
        }
        #value_field {
            width: 200px;
        }
        #date_field {
            width: 90px;
        }
    }
}