@import "bootstrap-sprockets";
@import "bootstrap";

/* Home, About */

.info-container {
    padding-top: 5%;
    display: flex;
    align-itmes: center;
    justify-content: center;
    .content-info {
        position: relative;
        width: 35%;
        padding-right: 2%;
        display: flex;
        align-items: center;
        text-align: center;
        form {
            //not sure why 100% does not fill #home-info
            //and why height: 100%; does not work
            margin-left: 1.5%;
            width: 150%;
            textarea {
                height: 300px;
                resize: none;
            }
        }
    }
    #home-info {
        height: 352px;
    }
}

/* About */

div.our-employees {
    padding-top: 10%;
    #personal {
        form {
            textarea {
                height: 220px;
            }
        }
    }
    .new{
        display: flex;
        align-itmes: center;
        justify-content: center;
        form {
            width: 50%;
            textarea {
                height: 220px;
                resize: none;
            }
        }
    }
    h4 {
        padding-top: 5%;
        text-align: center;
    }
    .content-delete {
        display: flex;
        align-itmes: center;
        justify-content: center;
        a{
            width: 51%;
            margin-top: 5px;
            margin-left: 10px;
        }
    }
}

/* Contact */

#contact-container {
    padding-top: 5%;
    display: flex;
    align-itmes: center;
    #map {
        #item {
            width: 536px;
            border: 8px solid gray;
            border-radius: 12px;
        }
        width: 50%;
        direction: rtl;
        padding-right: 3%;
    }
    #contact-info {
        width: 50%;
        padding-left: 3%;
        h2 {
            text-align: left;
        }
        #details{
            padding-left: 2%;
        }
    }
}