<li id="appointment-<%= appointment.id %>">
    <% if current_page?(controller: 'appointments', action: 'index') %>
        <%= link_to Patient.find_by(id: appointment.patient_id).name, Patient.find_by(id: appointment.patient_id) %>
        <br>
    <% end %>
    <%= appointment.ap_date %> | <%= appointment.ap_time %>
    with: <%= Doctor.find_by(id: appointment.doctor_id).name %>
    <br>
    <% unless (appointment.past? and !current_user_admin_sh?) %>
        <%= (link_to "delete", appointment, method: :delete, 
            data: { confirm: "You are about to delete an past apointment. Are you sure?" }, remote: true) %>
    <% else %>
        <%= (link_to "delete", appointment, method: :delete, data: { confirm: "Are you sure?" }, remote: true) %>
    <% end %>
</li>