<% provide(:title, 'Appointment search') %>
<h1>All Appointments</h1>

<div class="search_form">
  <%= form_tag(appointments_path, :method => "get", id: "search-form") do %>
    <div class="search_field">
      <div class="search_element", id="name_label"><%= label_tag :pt_name, "Patient's name"%></div>
        <div class="search_element", id="value_field"><%= text_field_tag :pt_name, params[:pt_name], placeholder: "Patient name" %></div>
    </div>
    <div class="search_field">
      <div class="search_element", id="name_label"><%= label_tag :time, "Appointment time"%></div>
        <div class="search_element", id="value_field"><%= text_field_tag :time, params[:time], placeholder: "time" %></div>
    </div>
    <div class="search_field">
      <div class="search_element", id="name_label"><%= label_tag :doctor, "Doctor"%></div>
        <div class="search_element", id="value_field"><%= collection_select(:appointment,
            :doctor_id, Doctor.all, :name, :name, :include_blank => "Nothing selected") %></div>
    </div>
    <%= label_tag :date, "Appointment date"%>
      <div class="search_field">
        <div class="search_element", id="date_label"><%= label_tag :date, "from:"%></div>
          <div class="search_element", id="date_field"><%= select_tag :ap_day, options_for_select(["Day", *1 .. 31]) %></div>
          <div class="search_element", id="date_field"><%= select_tag :ap_month, options_for_select(["Month", *1 .. 12]) %></div>
          <div class="search_element", id="date_field"><%= select_tag :ap_year, options_for_select(["Year", *2010 .. 2050]) %></div>
      </div>
      <div class="search_field">
        <div class="search_element", id="date_label"><%= label_tag :date, "to:"%></div>
          <div class="search_element", id="date_field"><%= select_tag :ap_day_e, options_for_select(["Day", *1 .. 31]) %></div>
          <div class="search_element", id="date_field"><%= select_tag :ap_month_e, options_for_select(["Month", *1 .. 12]) %></div>
          <div class="search_element", id="date_field"><%= select_tag :ap_year_e, options_for_select(["Year", *2010 .. 2050]) %></div>
      </div>
    <div class="search_field">
      <div class="search_element"><%= label_tag :combine, "Combine results?"%></div>
        <div class="search_element"><%= check_box_tag :combine, params[:combine] %></div>
    </div>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<%= will_paginate %>

  <% if @appointments.present? %>
    <ul class="users">
      <%= render @appointments %>
    </ul>
  <% else %>
    <p>There are no appointments containing the term(s).</p>
  <% end %>

<%= will_paginate %>