<!-- _sh: sessions_helper -->

<% provide(:title, 'appointment') %>
<h1>appointment</h1>
<h1><%= Doctor.find_by(id: params[:doctor_id]).name %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@appointment) do |f| %>
    
        <%= f.hidden_field :ap_date, :value => params[:ap_date] %>
        
        <%= f.hidden_field :doctor_id, :value => params[:doctor_id] %>
        
        <% unless current_user_admin_sh? %>
          <%= f.hidden_field :patient_id, :value => current_user_sh.id %>
        <% else %>
          <%= f.collection_select :patient_id, Patient.order(:name), :id, :name %>
        <% end %>
        
        <%= f.select :ap_time, @times %>

      <%= f.submit "Create my appointment", class: "btn btn-primary", id: "fix" %>
    <% end %>
  </div>
</div>