<footer class="footer">
    <small>
        Created by Robert G.
    </small>
    <nav>
        <ul>
            <% if current_user_admin_sh? and current_user_sh.supervisor %>
                <li id="edit_status"><%= render "shared/edit_mode" %></li>
            <% end %>
            <li><%= link_to "About us", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
        </ul>
    </nav>
</footer>