<!-- _sh: sessions_helper -->

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Dr. Test & Co.", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About us", about_path %></li>
        <% if logged_in_sh? %>
          <li><%= link_to "Calendar", calendar_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Messages <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Index", messages_path %></li>
              <li><%= link_to "New", new_message_path %></li>
            </ul>
          </li>
          <% if current_user_admin_sh? %>
            <li><%= link_to "Appointments", appointments_path %></li>
            <% if current_user_sh.supervisor %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Administrators <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Index", administrators_path %></li>
                  <li><%= link_to "Create", new_administrator_path %></li>
                </ul>
              </li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Patients <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Index", patients_path %></li>
                <li><%= link_to "Create", new_patient_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user_sh %></li>
              <% if(current_user_admin_sh? and current_user_sh.supervisor) %>
                <li><%= link_to "Settings", edit_administrator_path(current_user_sh) %></li>
              <% else %>
                <li><%= link_to "Settings", edit_patient_path(current_user_sh) %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>